.hero__button_color_purple {
  background-color: #855fb1;
  transition: background-color 0.5s;
}

.hero__button_color_purple:hover {
  background-color: #b18bdd;
  transition: background-color 0.5s;
}
