.hero__title{
  text-align: center;
  color: #28283d;
  font-size: 4rem;
  line-height:1;
  font-weight: 900;
  max-width: 27.8125rem;
  margin: 0 auto;
}


@media screen and (max-width: 1200px) {
  .hero__title {
    font-size: 3rem;
    max-width: 21.1875rem;

  }
  
}


@media screen and (max-width: 425px) {
  .hero__title {
    font-size: 2.5rem;
    max-width: 17.1875rem;
  }
}