.footer__subtitle {
  max-width: 21.875rem;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.444;
  color: #fafafa;
  margin: 0;
}

@media screen and (max-width: 990px) {
  .footer__subtitle {
    margin-top: 2rem;
    text-align: center;
    max-width: 35.125rem;
  }
}
